MISTRAL_API_KEY=
LANGCHAIN_TRACING_V2="true"
LANGCHAIN_API_KEY=
# Reduce tracing latency if you are not in a serverless environment
LANGCHAIN_CALLBACKS_BACKGROUND="true"
GOOGLE_GENERATIVE_AI_API_KEY=
